/* all */
header, main, footer {letter-spacing:-0.02em;}
/* header */
header {margin:auto;}
header .h_all {
    width:100%;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    margin:30px 120px;
    position:absolute; z-index:90; left:0; top:0;
}
header .h_all h1 {}
header .h_all h1 a {}
header .h_all h1 a img {}
header .h_all .h_right {
    display:flex; flex-flow:row nowrap; align-items:center;
}
header .h_all .h_right .inquiry {
    background:rgba(255,255,255,0.5); color:#fff;
    padding:8px; border:1px solid #fff; border-radius:7px;
    margin-right:35px;
}
header .h_all .h_right .language {display:flex; flex-flow:row nowrap; align-items:center; margin-right:30px;}
header .h_all .h_right .language em {color:#fff; margin-right:10px; font-size:1rem;}
header .h_all .h_right .language #lang_btn {background:none;}
header .h_all .h_right .language #lang_btn img {width:18px; height:18px;}
header .h_all .h_right .language .english {display:none;}
header .h_all .h_right .language span {}
header .h_all .h_right #search_btn {background:none; margin-right:30px;}
header .h_all .h_right #search_btn img {}
header .h_all .h_right .menu_btn {display:flex; flex-flow:column nowrap; background:none;}
header .h_all .h_right .menu_btn:hover {}
header .h_all .h_right .menu_btn span {
    display:inline-block; content:'';
    width:30px; height:3px; background:#fff;
    border-radius:50px; margin-bottom:6px;
}
/* 메뉴창 */
header .menu_all {
    width:100%; height:50vh;
    z-index:999; position:absolute; left:0; top:0;
    background:#FFF;
}
header .menu_all .menu {
    width:100%; height:200px;
    margin:0 60px;
    display:flex;
}
header .menu_all .closer {float:right; clear:both; margin:60px 60px 0 0;}
header .menu_all .closer span {
    display:inline-block; width:40px; height:6px;
    background:#0279bb; border-radius:50px;
}
/* header .menu .closer span:nth-child(1) {transform:rotate(-40deg);}
header .menu .closer span:nth-child(2) {transform:rotate(40deg);} */
header .menu_all .menu ul {
    width:100%; height:100%;
    display:flex; flex-flow:row nowrap;
    justify-content:space-around; align-items:flex-end;
}
header .menu_all .menu ul li {}
header .menu_all .menu ul li span {color:#0279bb;}
header .menu_all .menu ul li ul {display:flex; flex-flow:column nowrap;}
header .menu_all .menu ul li > ul > li {}
/* main */
main {}
main #scrolltop {
    position:fixed; right:50px; bottom:30px; z-index:99;
    background:rgba(255,255,255,0.5); border:1px solid #fff;
    border-radius:50px; width:60px; height:60px;
}
main #scrolltop img {width:30px; height:30px;}
main .first {width:100%; height:100vh; position:relative; overflow:hidden;}
main .first video {
    width:100%; position:absolute; left:50%;
    transform:translateX(-50%);
}
main .first img {
    z-index:99; position:absolute; left:50%; transform:translateX(-50%);
    bottom:50px; width:50px; height:50px; animation:a 1.2s alternate linear infinite;
}
@keyframes a {
    0% {transform:translateY(0);}
    100% {transform:translateY(-25px);}
}
main .second {
    width:100%; height:100vh;
    background:url(../images/bg2.jpg) no-repeat;
    display:flex; align-items: center; justify-content: center;
}
main .second .second_all {width:100%;}
main .second .second_all .s_top {
    display:flex; flex-flow:row nowrap;
    align-items: center; justify-content:space-evenly; margin-bottom:50px;
}
main .second .second_all .s_top .s_title {}
main .second .second_all .s_top .s_title p:nth-child(1) {font-size: 1.35rem; color:#fff;  margin-bottom:5px;}
main .second .second_all .s_top .s_title p:nth-child(2),em {font-size: 1.6rem; font-weight:700;}
main .second .second_all .s_top .s_title p:nth-child(3) {margin-top:38px; color:#fff; line-height:25px;}
main .second .second_all .s_top .s_title p em {color:#FBCA88;}
main .second .second_all .s_top .s_title p em:last-child {color:#0DCB14;}
main .second .second_all .s_top .animation {display:flex; align-items:center;}
main .second .second_all .s_top .animation img:nth-child(1) {
    animation:rotate 7s linear infinite; width:250px; height:250px;
    border-radius:50%;
}
main .second .second_all .s_top .animation img:nth-child(2) {width:30px; height:30px; position: relative; right:137px;}
main .second .second_all .s_top .animation img {}
@keyframes rotate {
    0% {transform:rotate(0);}
    100% {transform:rotate(360deg);}
}
main .second .second_all .s_top .animation img:nth-child(2) {}
main .second .second_all .s_btm {display:flex; flex-flow:row nowrap; justify-content: center;}
main .second .second_all .s_btm li { 
    display:flex; flex-flow:row nowrap; align-items:center;
}
main .second .second_all .s_btm li::after {
    display:inline-block; content:'';
    width:1px; height:100px;
    background:rgba(255,255,255,0.5); margin:0 25px;
}
main .second .second_all .s_btm li:last-child::after {display:none;}
main .second .second_all .s_btm li a {background:rgba(255,255,255,0.7); padding:45px 50px 65px 40px;}
main .second .second_all .s_btm li a:hover img {opacity:0; transform:translateX(30px); transition:all 0.3s;}
main .second .second_all .s_btm li a div {
    width:300px; height:70px;
    display:flex; flex-flow:row nowrap; align-items: center;
    justify-content:space-between; margin-bottom:15px;
}
main .second .second_all .s_btm li .management .manag_title {}
main .second .second_all .s_btm li .management .manag_title h2 {font-size: 1.5rem; color:#EE7158;}
main .second .second_all .s_btm li a div img {width:25px; height:25px;}
main .second .second_all .s_btm li a p {line-height:23px;}
main .second .second_all .s_btm li:nth-child(1) .management p {}
main .second .second_all .s_btm li:nth-child(2) .ci .ci_title {}
main .second .second_all .s_btm li:nth-child(2) .ci .ci_title h2 {font-size: 1.5rem; color:#F4A174;}
main .second .second_all .s_btm li:nth-child(2) .ci .ci_title img {}
main .second .second_all .s_btm li:nth-child(2) .ci p {}
main .second .second_all .s_btm li:nth-child(3) {}
main .second .second_all .s_btm li:nth-child(3) .esg {}
main .second .second_all .s_btm li:nth-child(3) .esg .esg_title {}
main .second .second_all .s_btm li:nth-child(3) .esg .esg_title h2 {font-size: 1.5rem; color:#0DCB14;}
main .second .second_all .s_btm li:nth-child(3) .esg .esg_title h2 img {}
main .second .second_all .s_btm li:nth-child(3) .esg .esg_title p {}
main .third {
    width:100%; height:100vh;
    background:url(../images/s6-bg.png) no-repeat;
    display:flex; flex-flow:column nowrap; justify-content: center;
}
main .third .third_all {margin-left:240px;}
main .third .third_all .t_title {
    font-size: 1.85rem; font-weight:700;
    color:#fff; margin-bottom:80px;
    line-height:40px;
}
main .third .third_all .t_title em {font-size: 1.85rem; color:#0DCB14;}
main .third .third_all p:nth-child(2) {color:#fff; line-height:25px; margin-bottom:128px;}
main .third .third_all .contents {display:flex;}
main .third .third_all .contents li:hover .contents_color {
    background:rgba(50,21,31,0.5); transition:all 0.3s;
}
main .third .third_all .contents li {display:flex; flex-flow: column; align-items: center; margin-right:50px;}
main .third .third_all .contents li .contents_color {
    background:rgba(255,255,255,0.7); border:2px solid #fff;
    border-radius:50%; margin-bottom:10px; transition:all 0.8s;
}
main .third .third_all .contents li .contents_color img {width:130px; height:130px; padding:35px;}
main .third .third_all .contents li span {color:#fff;}
main .fourth {
    width:100%; height:100vh;
    display:flex; flex-flow:row nowrap; align-items:center; justify-content:center;}
main .fourth .fourth_all {}
main .fourth .fourth_all h2 {text-align:center; font-size: 1.7rem; font-weight:600; margin-bottom:140px;}
main .fourth .fourth_all h2 em {color:#0279bb;}
main .fourth .fourth_all .news {display:flex; flex-flow:row nowrap;}
main .fourth .fourth_all .news li {margin-right:20px; transition:all 0.5s;}
main .fourth .fourth_all .news li:hover{transform:translateY(10px); transition:all 0.5s;}
main .fourth .fourth_all .news li:last-child {margin-right:0;}
main .fourth .fourth_all .news li a {}
main .fourth .fourth_all .news li a img {width:400px; height:270px; border-top-right-radius:50px;}
main .fourth .fourth_all .news li a .news_contents {
    padding-left:34px; padding-top:34px; padding-bottom:32px; border-bottom-left-radius:50px;
    border:1px solid #d9d9d9; border-top:none;
}
main .fourth .fourth_all .news li a .news_contents span {font-weight:600; color:#0279bb;}
main .fourth .fourth_all .news li a .news_contents h3 {margin-top:20px; margin-bottom:10px; font-weight:600; font-size:1.1rem; letter-spacing:-0.04em;}
main .fourth .fourth_all .news li a .news_contents p {margin-bottom:100px;}
main .fourth .fourth_all .news li a .news_contents strong {}
main .fifth {
    width:100%; height:50vh;
    display:flex; flex-flow:row nowrap;
    justify-content:space-evenly;
    border-top:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
}
main .fifth .f_left {display:flex; height:100%;}
main .fifth .f_left::after {
    width:1px; height:100%;
    display:inline-block; content:'';
    background:#d9d9d9; margin-left:350px;
}
main .fifth .f_left .f_left_all {
    display:flex; flex-flow:column nowrap; justify-content:center;
}
main .fifth .f_left .f_left_all .ir_title {display:flex; align-items:flex-end; margin-bottom:44px;}
main .fifth .f_left .f_left_all .ir_title h3 {font-size:1.7rem; font-weight:600; color:#0279bb; margin-right:10px;}
main .fifth .f_left .f_left_all .ir_title span {display:inline-block; width:50px; height:1px; background:#000;}
main .fifth .f_left .f_left_all p {margin-bottom:70px; font-size: 1.5rem; font-weight:600;}
main .fifth .f_left .f_left_all p em:first-child {color:#0279bb;}
main .fifth .f_left .f_left_all p em:last-child {color:#EE7158;}
main .fifth .f_left .f_left_all .announcement {
    width:180px; display:flex; align-items: center; justify-content:space-between;
    border:1px solid #0279bb; padding:15px 20px; border-radius:50px;
}
main .fifth .f_left .announcement:hover img {transform:translateX(10px);}
main .fifth .f_left a {
    font-size:1.2rem; font-weight:600;
    color:#0279bb;
}
main .fifth .f_left img {width:18px; height:18px; transition:all 0.8s;}
main .fifth .f_right {height:100%; display:flex; flex-flow:column; justify-content: center;}
main .fifth .f_right .finance_title {display:flex; align-items:flex-end; margin-bottom:44px;}
main .fifth .f_right .finance_title h3 {font-size:1.7rem; font-weight:600; color:#0279bb; margin-right:10px;}
main .fifth .f_right .finance_title span {display:inline-block; width:50px; height:1px; background:#000;}
main .fifth .f_right p {margin-bottom:70px; font-size: 1.3rem; font-weight:600; line-height:1.8rem;}
main .fifth .f_right .finance  {
    width:180px; display:flex; align-items: center; justify-content:space-between;
    border:1px solid #0279bb; padding:15px 20px; border-radius:50px;
}
main .fifth .f_right .finance:hover img {transform:translateX(10px);}
main .fifth .f_right .finance a {font-size:1.2rem; font-weight:600; color:#0279bb;}
main .fifth .f_right .finance img {width:18px; height:18px; transition:all 0.8s;}
/* footer */
footer {
    height:20vh;
    display:flex; flex-flow:row nowrap; align-items: center;
    justify-content:space-between; margin:0 180px;
}
footer .footer_left {display:flex;}
footer .footer_left h1 {}
footer .footer_left h1 a {}
footer .footer_left h1 a img {}
footer .footer_left .add_all {margin-left:100px;}
footer .footer_left .add_all address {color:#888; line-height:1.2rem;}
footer .footer_left .add_all .copyright {margin-top:10px; color:#888;}
footer .affiliate {
    display:flex; align-items: center;
    border:1px solid #0279bb; padding:15px; border-radius:50px;
}
footer .affiliate a {color:#0279bb; margin-right:35px;}
footer .affiliate img {width:18px; height:18px;}