main {}
main .page_btn {}
main .page_btn li {background:#fff; border:1px solid #d9d9d9; border-bottom:none; margin-right:25px;}
main .page_btn li:first-child {background:#fff; border:1px solid #0279BB; border-bottom:none;}
main .page_btn li:last-child {margin-right:0;}
main .page_btn li a {color:#888;}
main .page_btn li:first-child a {color:#0279BB;}
main .esg_chapter1 {margin-top:220px; margin-bottom:500px;}
main .esg_chapter1 .group {display:flex; flex-flow:column nowrap; align-items: center;}
main .esg_chapter1 .group h2 {margin-bottom:40px; font-size:1.7rem; line-height:1.5em;}
main .esg_chapter1 .group h2 em {font-size:1.7rem; font-weight:600; color:#0279BB;}
main .esg_chapter1 .bg1 {position:relative; width:100%;}
main .esg_chapter1 .bg1 img {opacity:0.5; height:100%;}
main .esg_chapter1 .bg1 .explanation {
    width:100%;
    position:absolute; top:250px; left:0;
    display:flex; align-items: center;
    justify-content:space-around;
}
main .esg_chapter1 .bg1 .explanation h2 {font-size:1.85rem; font-weight:700;}
main .esg_chapter1 .bg1 .explanation p {font-size:1.1rem; line-height:1.5em;}
main .esg_chapter2 {margin-bottom:500px; position: relative; width:100%;}
main .esg_chapter2 img {}
main .esg_chapter2 .bg2 {
    width:100%;
    position:absolute; top:250px; left:0;
    display:flex;
    align-items: center; justify-content:space-around;
}
main .esg_chapter2 .bg2 h2 {font-size:1.85rem; font-weight:600; color:#FFf;}
main .esg_chapter2 .bg2 h2 em {font-size:1.85rem; color:#F4A174;}
main .esg_chapter2 .bg2 p {line-height:1.7em; color:#fff;}
main .esg_chapter2 .b2_btm {display:flex; align-items: center; justify-content:space-evenly;}
main .esg_chapter2 .b2_btm .icon {display:flex; margin-top:30px;}
main .esg_chapter2 .b2_btm .icon li {
    display:flex;
    flex-flow:column nowrap; 
    align-items: center; justify-content:center;
    margin-right:20px;
}
main .esg_chapter2 .b2_btm .icon li:last-child {margin-right:0;}
main .esg_chapter2 .b2_btm .icon li .img_icon {
    border:1px solid #0279BB; border-radius:50%; padding:30px;
    background:#fff;
}
main .esg_chapter2 .b2_btm .icon li .img_icon img {
    width:70px; height:70px;
}
main .esg_chapter2 .b2_btm .icon li span {margin-top:15px;}
main .esg_chapter2 .b2_btm p {line-height:1.5em;}
main .esg_chapter3 {position: relative; width:100%;}
main .esg_chapter3 img {opacity:0.5;}
main .esg_chapter3 .bg3 {
    width:100%;
    position:absolute; top:250px; left:0;
    display:flex;
    align-items: center; justify-content:space-around;
}
main .esg_chapter3 .bg3 h2 {font-size:1.85rem; font-weight:600; color:#000;}
main .esg_chapter3 .bg3 h2 em {font-size:1.85rem; font-weight:600; color:#0dcb14;}
main .esg_chapter3 .bg3 p {line-height:1.7em;}
main .esg_chapter3 .icon_btn2 {display:flex; align-items: center; justify-content:space-around; margin-bottom:280px;}
main .esg_chapter3 .icon_btn2 ul {display:flex; margin-top:30px;}
main .esg_chapter3 .icon_btn2 ul li {display:flex; flex-flow:column nowrap; align-items: center; margin-right:50px;}
main .esg_chapter3 .icon_btn2 ul li:last-child {margin-right:0;}
main .esg_chapter3 .icon_btn2 ul li .img_icon {
    border:1px solid #0279BB; border-radius:50%; padding:30px;
    background:#fff;
}
main .esg_chapter3 .icon_btn2 ul li .img_icon img {width:70px; height:70px;}
main .esg_chapter3 .icon_btn2 ul li span {margin-top:15px;}
main .esg_chapter3 .icon_btn2 p {line-height:1.7em;}